<div>
  <table class="table table-hover">
    <thead class="thead-light">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Ime agencije</th>
              <th scope="col">Provizija</th>
              <th scope="col">Is Active</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let agency of agencies; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{ agency.name }}</td>
              <td>{{ agency.commission + " %"}}</td>
              <td><input type="checkbox" checked></td>
          </tr>
      </tbody>
  </table>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Add</button>
  <button type="button" class="btn btn-secondary">Update</button>
  <button type="button" class="btn btn-secondary">Delete</button>
</div>
