
<div>
  <div [hidden]="errorMessage.length == 0">{{ errorMessage }}</div>
    <form (submit)="onSubmit()" #Form="ngForm">
    <input title="id" name="id" type="hidden" [(ngModel)]="agency.id" />
  <div class="form-group">
    <label for="name">Name</label>
    <input required
           [(ngModel)]="agency.name"
           name="name"
           type="text"
           placeholder="Ime agencije"
           class="form-control"
           id="name">
  </div>
  <div class="form-group">
    <label for="commission">Commission</label>
    <input required
           [(ngModel)]="agency.commission"
           name="commission"
           type="number"
           placeholder="Provizija(%)"
           class="form-control"
           id="commission">
  </div>
    <button [disabled]="!Form.form.valid" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
