<div>
  <table class="table table-hover">
    <thead class="thead-light">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Cijena</th>
              <th scope="col">Marža</th>
              <th scope="col">Ukupno</th>
              <th scope="col">Is Active</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let payment of payments; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{ payment.price + ' kn'}}</td>
              <td>{{ payment.margin + ' %'}}</td>
              <td>{{ payment.total + ' kn'}}</td>
              <td><input type="checkbox" checked></td>

          </tr>
      </tbody>
  </table>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Add</button>
  <button type="button" class="btn btn-secondary">Update</button>
  <button type="button" class="btn btn-secondary">Delete</button>
</div>
