<div align="right" class="mb-3">
  <button class="btn btn-secondary" (click)="onAdd()">Add room</button>
</div>
<div>
  <table class="table table-hover">
      <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Veličina</th>
              <th scope="col">Broj sobe</th>
              <th scope="col">Broj kreveta</th>
              <th scope="col">Tip</th>
              <th scope="col">Cijena noćenja</th>
              <th scope="col">Is Active</th>
              <th scope="col" colspan="2">Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let room of rooms; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{ room.size + ' m' }}<sup>2</sup></td>
              <td>{{ room.roomNumber }}</td>  <!--znam da je gej riješenje-->
              <td>{{ room.numberOfBeds }}</td>
              <td>{{ room.type }}</td>
              <td>{{ room.pricePerNight + ' kn'}}</td>
              <td>
                  <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch1">
                      <label class="custom-control-label" for="customSwitch1"></label>
                  </div>
              </td>
              <td>
                <button class="btn edit" (click)="onEdit(room.id)">
                  <i class="fa fa-edit fa-lg fa-fw"></i></button>
                </td>
        </tr>
      </tbody>
  </table>

  <div class="row">

      <div class="col">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

          <div class="dropdown float-right">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                25
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">25</a>
                <a class="dropdown-item">50</a>
                <a class="dropdown-item">100</a>
              </div>
            </div>

      </div>
    </div>

