<div align="right" class="mb-3">
  <button class="btn btn-secondary" (click)="onAdd()">Add guest</button>
</div>
<div>
  <table class="table table-hover">
    <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Ime</th>
              <th scope="col">Datum rođenja</th>
              <th scope="col">Spol</th>
              <th scope="col">Kontakt</th>
              <th scope="col">Email</th>
              <th scope="col">Is Active</th>
              <th scope="col">Bukirano</th>
              <th scope="col" colspan="2">Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let guest of guests; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{ guest.fullName }}</td>
              <td>{{ guest.birthdate | date:'dd/MM/yyyy' }}</td>
              <td>{{ guest.gender }}</td>
              <td>{{ guest.phoneNumber }}</td>
              <td>{{ guest.email }}</td>
              <td>
                  <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch1">
                      <label class="custom-control-label" for="customSwitch1"></label>
                  </div>
              </td>
              <td>
                <a (click)="onBookingCountClick(guest.id)">{{ guest.bookingCount }}</a>
              </td>
              <td>
                <button class="btn edit" (click)="onEdit(guest.id)">
                  <i class="fa fa-edit fa-lg fa-fw"></i></button>
                </td>
              <td>
                <button class="btn delete" title="Ne mozete obrisati gosta ako je u bookingu." [disabled]="guest.bookingCount > 0" (click)="onDelete(guest.id)">
                  <i class="fa fa-trash fa-lg fa-fw"></i></button></td>
          </tr>
      </tbody>
  </table>

  <div class="row">

      <div class="col">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

          <div class="dropdown float-right">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                25
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">25</a>
                <a class="dropdown-item">50</a>
                <a class="dropdown-item">100</a>
              </div>
            </div>

      </div>
    </div>

