<div align="right">
  <button class="btn btn-secondary" (click)="onAdd()">Add guest</button>
</div>
<div>
  <table class="table table-hover">
    <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Ime</th>
              <th scope="col">Datum rođenja</th>
              <th scope="col">Spol</th>
              <th scope="col">Kontakt</th>
              <th scope="col">Email</th>
              <th scope="col">Is Active</th>
              <th scope="col">Bukirano</th>
              <th scope="col" colspan="2">Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let guest of guests; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{ guest.fullName }}</td>
              <td>{{ guest.birthdate | date:'dd/MM/yyyy' }}</td>
              <td>{{ guest.gender }}</td>
              <td>{{ guest.phoneNumber }}</td>
              <td>{{ guest.email }}</td>
              <td>
                  <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch1">
                      <label class="custom-control-label" for="customSwitch1"></label>
                  </div>
              </td>
              <td>
                <a (click)="onBookingCountClick(guest.id)">{{ guest.bookingCount }}</a>
              </td>
              <td>
                <button class="btn edit" (click)="onEdit(guest.id)">
                  <i class="fa fa-edit fa-lg fa-fw"></i></button>
                </td>
              <td>
                <button class="btn delete" title="Ne mozete obrisati gosta ako je u bookingu." [disabled]="guest.bookingCount > 0" (click)="onDelete(guest.id)">
                  <i class="fa fa-trash fa-lg fa-fw"></i></button></td>
          </tr>
      </tbody>
  </table>
</div>

