<div>
  <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Ime</th>
              <th scope="col">Adresa</th>
              <th scope="col">Web</th>
              <th scope="col">Kontakt</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let hotel of hotels; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{ hotel.name }}</td>
              <td>{{ hotel.address }}</td>
              <td>{{ hotel.webAddress }}</td>
              <td>{{ hotel.phoneNumber }}</td>
          </tr>
      </tbody>
  </table>
</div>
