<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:cadetblue">
  <a class="navbar-brand" href="#">BookingClone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a [routerLink]="['/']" class="nav-link">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/agencies']" class="nav-link">
          Agencies
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/bookings']" class="nav-link">
          Bookings
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/guests']" class="nav-link">
          Guests
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/hotels']" class="nav-link">
          Hotels
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/payments']" class="nav-link">
          Payments
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/rooms']" class="nav-link">
          Rooms
        </a>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
