<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<!-- Top Bar -->
<section id="top-bar" class="p-3">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <i class="fas fa-phone fa-lg"></i> 01 6335 456
          </div>
          <div class="col-md-4">
              <i class="fas fa-envelope-open fa-lg"></i> contact@BookingClone.hr
          </div>
          <div class="col-md-4">
              <div class="social text-right">
                  <a href="https://twitter.com/" target="_blank">
                      <i class="fab fa-twitter fa-lg"></i>
                  </a>
                  <a href="https://www.facebook.com/" target="_blank">
                      <i class="fab fa-facebook fa-lg"></i>
                  </a>
                  <a href="https://www.linkedin.com/" target="_blank">
                      <i class="fab fa-linkedin fa-lg"></i>
                  </a>
                  <a href="https://www.instagram.com/" target="_blank">
                      <i class="fab fa-instagram fa-lg"></i>
                  </a>
                  <a href="https://www.pinterest.com/" target="_blank">
                      <i class="fab fa-pinterest fa-lg"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(81, 79, 172)">
  <a class="navbar-brand" href="/">BookingClone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['/agencies']" class="nav-link">
          Agencije
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/bookings']" class="nav-link">
          Rezervacije
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/guests']" class="nav-link">
          Gosti
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/hotels']" class="nav-link">
          Hoteli
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/payments']" class="nav-link">
          Plaćanja
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/rooms']" class="nav-link">
          Sobe
        </a>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>


