
<div>
  <div [hidden]="errorMessage.length == 0">{{ errorMessage }}</div>
  <form (submit)="onSubmit()" #Form="ngForm">
  <input title="id" name="id" type="hidden" [(ngModel)]="room.id" />
    <label for="hotelId">Izaberite hotel</label>
    <select class="form-control col-sm-4" name="hotelId" [(ngModel)]="room.hotelId">
      <option *ngFor="let hotel of hotels" [value]="hotel.id">
        {{hotel.name}}
      </option>
    </select>

<div class="form-group col-sm-4">
  <label for="room">Room</label>
  <input required
         [(ngModel)]="room.size"
         name="size"
         type="number"
         placeholder="Veličina sobe"
         class="form-control"
         id="size">
</div>
<div class="form-group col-sm-4">
  <label for="numberOfBeds">NumberOfBeds</label>
  <input required
         [(ngModel)]="room.numberOfBeds"
         name="numberOfBeds"
         type="number"
         placeholder="Broj Kreveta"
         class="form-control"
         id="numberOfBeds">
</div>
<div class="form-group col-sm-4">
    <label for="type">Type</label>
    <input [(ngModel)]="room.type"
           name="type"
           type="text"
           placeholder="Tip sobe"
           class="form-control"
           id="type">
  </div>
  <div class="form-group col-sm-4">
      <label for="pricePerNight">PricePerNight</label>
      <input [(ngModel)]="room.pricePerNight"
             name="pricePerNight"
             type="number"
             placeholder="Cijena noćenja"
             class="form-control"
             id="pricePerNight">
    </div>
    <button (click)="goBack()" class="btn btn-outline-primary float-left">Odustani</button>
    <button [disabled]="!Form.form.valid" type="submit" class="btn btn-primary float-right">Submit</button>
</form>
</div>
