
<div>
  <div [hidden]="errorMessage.length == 0">{{ errorMessage }}</div>
    <form (submit)="onSubmit()" #Form="ngForm">
    <input title="id" name="id" type="hidden" [(ngModel)]="booking.id" />

    <label for="guestId">Izaberite gosta</label>
    <select class="form-control col-sm-4" name="guestId" [(ngModel)]="booking.guestId">
      <option *ngFor="let guest of guests" [value]="guest.id">
        {{ guest.fullName }}
      </option>
    </select>

    <label for="agencyId">Izaberite agenciju</label>
    <select class="form-control col-sm-4" name="agencyId" [(ngModel)]="booking.agencyId">
      <option *ngFor="let agency of agencies" [value]="agency.id">
        {{agency.name}}
      </option>
    </select>

    <label for="hotelId">Izaberite hotel</label>
    <select
      class="form-control col-sm-4"
      name="hotelId"
      (change)="onHotelChange(booking.hotelId)"
      [(ngModel)]="booking.hotelId">
      <option *ngFor="let hotel of hotels" [value]="hotel.id">
        {{hotel.name}}
      </option>
    </select>


    <label for="roomId">Izaberite sobu</label>
    <select [disabled]="!booking.hotelId"
      class="form-control col-sm-4"
      name="roomId"
      [(ngModel)]="booking.roomId">
      <option *ngFor="let room of rooms">
            {{room.roomNumber}}
      </option>
    </select>


  <div class="form-group col-sm-4">
    <label for="checkIn">CheckIn</label>
    <input required
           [(ngModel)]="booking.checkIn"
           name="checkIn"
           type="date"
           placeholder="Datum prijave"
           class="form-control"
           id="CheckIn">
  </div>

  <div class="form-group col-sm-4">
    <label for="CheckOut">CheckOut</label>
    <input required
           [(ngModel)]="booking.checkOut"
           name="checkOut"
           type="date"
           placeholder="Datum odjave"
           class="form-control"
           id="checkOut">
  </div>

  <div class="mb-5">
      <label for="Price">Ukupna cijena</label>
      <input type="text" name="country" value="Puno para" class="form-control col-sm-4" readonly>
  </div>
    <button (click)="goBack()" class="btn btn-outline-primary float-left">Odustani</button>


    <button [disabled]="!Form.form.valid" type="submit" class="btn btn-secondary ml-2 float-right">Provjeri dostupnost</button>
    <button [disabled]="!Form.form.valid" type="submit" class="btn btn-primary float-right">Submit</button>

  </form>
</div>
