
<div align="center">
    <div [hidden]="errorMessage.length == 0">{{ errorMessage }}</div>
    <form (submit)="onSubmit()" #Form="ngForm">
    <input title="id" name="id" type="hidden" [(ngModel)]="hotel.id" />
  <div class="form-group col-sm-4">
    <label for="name">Name</label>
    <input required
           [(ngModel)]="hotel.name"
           name="name"
           type="text"
           placeholder="Ime hotela"
           class="form-control"
           id="name">
  </div>
  <div class="form-group col-sm-4">
    <label for="address">Address</label>
    <input required
           [(ngModel)]="hotel.address"
           name="address"
           type="text"
           placeholder="Adresa hotela"
           class="form-control"
           id="address">
  </div>
  <div class="form-group col-sm-4">
      <label for="webAddress">WebAddress</label>
      <input [(ngModel)]="hotel.webAddress"
             name="webAddress"
             type="text"
             placeholder="Web adresa hotela"
             class="form-control"
             id="webAddress">
    </div>
    <div class="form-group col-sm-4">
        <label for="phoneNumber">PhoneNumber</label>
        <input [(ngModel)]="hotel.phoneNumber"
               name="phoneNumber"
               type="number"
               placeholder="Adresa hotela"
               class="form-control"
               id="phoneNumber">
      </div>
      <button (click)="goBack()" class="btn btn-outline-primary float-left">Odustani</button>
      <button [disabled]="!Form.form.valid" type="submit" class="btn btn-primary float-right">Submit</button>
  </form>
</div>
