
<div>
    <form (submit)="onSubmit()">
    <input title="id" name="id" type="hidden" [(ngModel)]="hotel.id" />
  <div class="form-group">
    <label for="name">Name</label>
    <input required
           [(ngModel)]="hotel.name"
           name="name"
           type="text"
           placeholder="Ime hotela"
           class="form-control"
           id="name">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input required
           [(ngModel)]="hotel.address"
           name="address"
           type="text"
           placeholder="Adresa hotela"
           class="form-control"
           id="address">
  </div>
  <div class="form-group">
      <label for="webaddress">WebAddress</label>
      <input [(ngModel)]="hotel.webaddress"
             name="webaddress"
             type="text"
             placeholder="Web adresa hotela"
             class="form-control"
             id="webaddress">
    </div>
    <div class="form-group">
        <label for="phonenumber">PhoneNumber</label>
        <input [(ngModel)]="hotel.phonenumber"
               name="phonenumber"
               type="text"
               placeholder="Adresa hotela"
               class="form-control"
               id="commission">
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
